.screenshot {
    display: block;
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid black;

    -moz-box-shadow: 4px 4px 6px #48577D;
    -webkit-box-shadow: 4px 4px 6px #48577D;
    box-shadow: 4px 4px 6px #48577D;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.screenshot.small {
    width: 50%;
}

/* print pages */

@media print {
    body * {
        visibility: hidden;
    }

    #printable, #printable * {
        visibility: visible;
    }

    #printable {
        /* aligning the printable area */
        position: absolute;
        left: 40;
        top: 40;
    }
}

/* external links */
a[target="_blank"]:after {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
    margin: 0 0 0 5px;
}